extends ../layouts/base.pug

block menu
    include ../common/partials/menu-products
    
block content
    section.main-product
        .container
            .row
                .col 
                    .main-product-body
                        .main-product-image
                            img(src=require('images/A.svg'))
                        .main-product-content
                            h1 Активный гражданин
                            .subtitle 
                                img.card-img-top(src=require('images/product.svg'))
                                | Действующий
                            .text Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                            
                            a.btn.btn-primary.js-scroll(href='#request') Отправить заявку
                            
    section.product-nav.bdb-gray
        .container
            .row
                .col 
                    nav.navbar.navbar-expand-lg
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link.active.js-scroll(href='#about-product')
                                    span.nav-link-text О продукте

                            li.nav-item.nav-item-dropdown.animation-arrow
                                a.nav-link.js-scroll(href='#demands')
                                    span.nav-link-text Требования
                                    
                            li.nav-item.nav-item-dropdown.animation-arrow
                                a.nav-link.js-scroll(href='#using')
                                    span.nav-link-text Использование

                            li.nav-item.nav-item-dropdown.animation-arrow
                                a.nav-link.js-scroll(href='#documents')
                                    span.nav-link-text Документы

                            li.nav-item.nav-item-dropdown.animation-arrow
                                a.nav-link.js-scroll(href='#Implications')
                                    span.nav-link-text Внедрения

    section.section.bdb-gray#about-product
        .container
            .row
                .col 
                    h3 О продукте
                    .about-product
                        div
                            p.text Среди главных задач проекта — получение мнения горожан по актуальным вопросам, касающимся развития Москвы. Опросы «Активного гражданина» делятся на три категории: общегородские, отраслевые и районные. За активное участие в опросах начисляются бонусные баллы, которые можно обменять на вознаграждения.

                            p.text Спустя менее года, 6 марта 2015 года, число зарегистрированных пользователей «Активного гражданина» превысило 1 миллион человек. Всего за первый год было проведено 500 опросов и голосований, в которых пользователи оставили 25 миллионов мнений, на основании которых были приняты более 250 управленческих решений. В первую годовщину проекта московские власти объявили о создании волонтёрского объединения, призванного отслеживать выполнение городом обязательств, принятых по результатам обсуждений в «Активном гражданине». 
                            
                        div.about-product-links
                            strong Файлы для скачивания
                            
                            ul
                                li
                                    a.about-product-link(href='#') 
                                        img.card-img-top(src=require('images/clip.svg'))
                                        | презентация (PDF)
                                        
                                li
                                    a.about-product-link(href='#') 
                                        img.card-img-top(src=require('images/clip.svg'))
                                        | Информация для руководителя (PDF)
                                        
                                li
                                    span.about-product-link
                                        img.card-img-top(src=require('images/block.svg'))
                                        | Закрытый файл
                                        
                                li
                                    span.about-product-link
                                        img.card-img-top(src=require('images/block.svg'))
                                        | Закрытый файл
                    
                    .screenshots
                        h4 Скриншоты
                        .screenshots-images
                            ul
                                li
                                    img.card-img-top(src=require('images/screen1.png'))
                                        
                                li
                                    img.card-img-top(src=require('images/screen1.png'))
                                        
                                li
                                    img.card-img-top(src=require('images/screen1.png'))
                                        
                                li
                                    img.card-img-top(src=require('images/screen1.png'))
                                        
                                li
                                    img.card-img-top(src=require('images/screen1.png'))
                                        
                                li
                                    img.card-img-top(src=require('images/screen1.png'))
                    
                    
    section.section.bdb-gray.pb-4#demands
        .container
            .row
                .col 
                    h3 Требования
                    
        .container
            .row
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к основной вычислительной технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к основной вычислительной технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                                
        .container
            .row
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к основной вычислительной технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к основной вычислительной технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                    
    section.section.bdb-gray.pb-4#using
        .container
            .row
                .col 
                    h3 Использование
                    
        .container
            .row
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                                
        .container
            .row
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                .col 

                                    
    section.section.bdb-gray.bdb-gray.pb-4#documents
        .container
            .row
                .col 
                    h3 Документы
                    
        .container
            .row
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                .col 
                    .demands-block
                        .row
                            .col 
                                .demands-block-text Требования к технике
                                .demands-block-info PDF, 12 Мб
                            .col 
                                a.demands-block-link(href='#') 
                                    img(src=require('images/content.svg'))
                                    | Содержание
                                a.btn.btn-outline-primary(href='#') Скачать
                    
    section.section.implications#Implications
        .container
            .row
                .col 
                    h3 Внедрения
                    
        .container
            .row
                .col-lg-4
                    .text «Мы — инициаторы некоммерческого проекта, цель которого — улучшение взаимодействия людей с государственными цифровыми сервисами.»
                    .person
                        img.person-img(src=require('images/person.png'))
                        .person-content
                            .person-name Игорь Романов
                            .person-position Руководитель отделения Минтранспорта

                .col-lg-4 
                    .text «Мы — инициаторы некоммерческого проекта, цель которого — улучшение взаимодействия людей с государственными цифровыми сервисами.»
                    .person
                        img.person-img(src=require('images/person.png'))
                        .person-content
                            .person-name Игорь Романов
                            .person-position Руководитель отделения Минтранспорта
                .col-lg-4 
                    .text «Мы — инициаторы некоммерческого проекта, цель которого — улучшение взаимодействия людей с государственными цифровыми сервисами.»
                    .person
                        img.person-img(src=require('images/person.png'))
                        .person-content
                            .person-name Игорь Романов
                            .person-position Руководитель отделения Минтранспорта
                    
    section.section#request
        .container
            .row
                .col 
                    h3 Отправить заявку
        
        form
            .container
                .row
                    .col-lg-4
                        .form-group
                            label Ваше имя
                            input.form-control
                    .col-lg-4
                        .form-group
                            label Ваш адрес электронной почты
                            input.form-control
                    .col-lg-4
                        .form-group
                            label Ваш номер телефона
                            input.form-control
                        
            .container
                .row
                    .col-lg-4
                        .form-group
                            label Название вашей компании
                            input.form-control
                    .col-lg-4
                        .form-group
                            label Сайт вашей компании
                            input.form-control
                    .col-lg-4
                        button.btn.btn-secondary.mt-4 Отправить заявку
    //- include ../common/index/main-block
    //- include ../common/index/news-blogs
    //- include ../common/index/discussions
    //- include ../common/index/public-video
