section.section.pb-3
    .container
        .row
            .col 
                h3 Найдено 5 записей
                
                .products-content
                    ul.products.products-closed
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Культура
                            .products-close x
                            
                        li.products-item
                            a.products-link(href='http://krylev.ru/elmoscow/products.html') Облачные решения
                            .products-close x
                            
                .cards.cards-with-footer
                    .row
                        .col.col-lg-6
                            .card
                                .card-header
                                    img(src=require('images/icon-edu.png'))
                                    span.color-red Образование
                                .card-body
                                    .card-text
                                        | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                        
                                .card-footer
                                    a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее
                                
                        .col.col-lg-3
                            .card
                                img.card-img-top(src=require('images/A.svg'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                                    .card-text
                                        | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                        
                                .card-footer
                                    a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                            
                        .col.col-lg-3     
                            .card
                                img.card-img-top(src=require('images/icon-edu.png'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                                    .card-text
                                        | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                        
                                .card-footer
                                    a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                                
                        .col.col-lg-3
                            .card
                                img.card-img-top(src=require('images/A.svg'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                                    .card-text
                                        | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                        
                                .card-footer
                                    a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                            
                        .col.col-lg-3     
                            .card
                                img.card-img-top(src=require('images/A.svg'))
                                .card-body
                                    a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                                    .card-text
                                        | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                        
                                .card-footer
                                    a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                                    
                        .col.col-lg-6
                            .card
                                .card-header
                                    img.car-image(src=require('images/car.png'))
                                    span.color-blue Транспорт
                                .card-body
                                    .card-text
                                        | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                        
                                .card-footer
                                    a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее
                                
                                
                
