section.section.pb-3
    .container
        .row
            .col 
                h3 Найдено 5 продуктов
                            
                .cards.cards-with-footer
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                
                        .card-footer
                            a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                            
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Фильм «Большой» — фаворит активных граждан
                                
                        .card-footer
                            a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                            
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                
                        .card-footer
                            a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                            
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                
                        .card-footer
                            a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте
                                
                    .card
                        img.card-img-top(src=require('images/A.svg'))
                        .card-body
                            a.card-title(href='http://krylev.ru/elmoscow/product.html') Активный гражданин
                            .card-text
                                | Проект создан как площадка для проведения среди различных групп москвичей голосований в электронной форме по вопросам городского развития.
                                
                        .card-footer
                            a.btn.btn-outline-primary(href='http://krylev.ru/elmoscow/product.html') Подробнее о продукте

    .container
        .row
            .col 
                | weqwewe
