#forgot-password-modal.modal.fade(
    tabindex="-1"
    role="dialog"
    aria-hidden="true")

    .modal-dialog(role="document")
        .modal-content
            .modal-body
                .title
                    | Восстановление пароля

                .modal-close(
                data-dismiss="modal"
                aria-label="Close"
                aria-hidden="true") &times;

                form
                    .form-group
                        input.form-control(
                        type='text'
                        placeholder="Адрес электронной почты или логин")

                        .form-text Если вы забыли пароль, введите логин или E-Mail

                    .d-flex.justify-content-end
                        button.btn.btn-secondary
                            span Войти
                            span.ai.ai-icon_send